<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibile" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/night-owl.min.css" integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
<body>
    <div class='wrapper'>
        <%- include('_buttons.ejs', {id: locals.id}); %>
        <div class='line-numbers'>
            <% for (let i = 1; i <= code.split('\n').length; i++) { %>
                <div><%= i %></div>
           <% } %>
        </div>
        <pre><code id='code-display' class='<%= locals.language ? `language-${locals.language}` : ''%>'><%= code %></code></pre>
    </div>
</body>

</html>